.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0c0e12;
    padding: 2rem;
    color: #f0b90b;
    flex-wrap: wrap;
}

.about-content {
    max-width: 500px;
    margin: 1rem;
    opacity: 0;
    animation: fadeInLeft 1s ease forwards;
    animation-delay: 0.6s;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Jost', sans-serif;
    color: #f0b90b;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: #f0b90b;
    margin-bottom: 1rem;
}

.about-image {
    max-width: 500px;
    margin: 1rem;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    animation: fadeInLeft 1s ease forwards;
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        max-width: 90%;
    }
}

/* Responsividad iPhone 14 */
@media (max-width: 390px) {
    .about-us {
        flex-direction: column;
        text-align: center;
    }

    .about-content, .about-image {
        max-width: 100%;
    }
}

/* Responsividad iPad */
@media (min-width: 768px) and (max-width: 820px) {
    .about-us {
        flex-direction: row;
        text-align: left;
    }

    .about-content, .about-image {
        max-width: 45%;
    }
}
