header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    background: transparent;
}

.logo img {
    width: 120px;
    animation: bounce 1.5s infinite;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #f0b90b;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    transition: color 0.3s ease;
}

/* Menu Toggle for Mobile */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #f0b90b;
}

/* Responsive Menu for Mobile */
@media (max-width: 820px) {
    header nav ul {
        display: none;
        flex-direction: column;
        position: fixed; /* Cambiado a fixed para asegurar el borde derecho */
        top: 0;
        right: 0; /* Pegado al borde derecho */
        width: 50%; /* Ajuste de ancho */
        height: 100vh; /* Cubre toda la altura de la pantalla */
        background-color: #0c0e12;
        text-align: center;
        padding: 2rem 0;
        z-index: 9999; /* Asegura que esté encima de otros elementos */
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10000; /* Encima del resto del contenido */
    }

    #menu-toggle:checked ~ nav ul {
        display: flex;
    }

    /* Iconos de abrir y cerrar */
    .menu-open-icon {
        display: inline;
    }

    #menu-toggle:checked + .menu-icon .menu-open-icon {
        display: none;
    }

    #menu-toggle:checked + .menu-icon .menu-close-icon {
        display: inline;
    }
}

/* Responsividad iPhone 14 */
@media (max-width: 390px) {
    .menu-icon {
        font-size: 1.8rem;
    }

    .logo img {
        width: 100px;
    }
}

/* Responsividad iPad */
@media (min-width: 768px) and (max-width: 820px) {
    .menu-icon {
        font-size: 2rem;
    }

    .logo img {
        width: 110px;
    }

    header nav ul {
        flex-direction: row; /* Mantiene el menú horizontal en iPad */
        display: flex;
        position: static;
        background-color: transparent;
        width: auto;
        padding: 0;
    }

    .menu-icon {
        display: none;
    }
}
